################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rochas.Extensions
/Rochas.Extensions/.vs
/Rochas.Extensions/bin
/Rochas.Extensions/obj
/.vs/ProjectEvaluation
/Rochas.Extensions.Tests/bin
/Rochas.Extensions.Tests/obj
