################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rochas.Extensions
/Rochas.Extensions/.vs
/Rochas.Extensions/bin/Release
/Rochas.Extensions/obj
/Rochas.Extensions/bin/Debug
/.vs/ProjectEvaluation
/TestConsole/bin/Release/net6.0
/TestConsole/obj
/TestConsole/bin/Debug/net6.0
